<h1>New Shower</h1>


<form name="new_show_form" action="/shows" id='new_user_form' method='post'>
  <div class="form-group">
    <label for="date">Date:</label>
    <input type="text" name='date' id='date'>
  </div>
</form>
