<!DOCTYPE html>
<html ng-app="brotherSportsApp">
  <head>
    <title>brothersports</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src='/javascripts/app.js'></script>
    <script src='/javascripts/ShowsController.js'></script>
  </head>
  <body>
    <nav class='container'>
      <ul class='row'>
        <li ui-sref='home' ui-sref-active='active'>home</li>
        <li ui-sref='news' ui-sref-active='active'>news</li>
        <li ui-sref='music' ui-sref-active='active'>music</li>
        <li ui-sref='shows' ui-sref-active='active'>shows</li>
        <li ui-sref='photos' ui-sref-active='active'>photos</li>
        <li ui-sref='contact' ui-sref-active='active'>contact</li>
      </ul>
    </nav>
    <main ui-view>
    <footer></footer>
  </body>
</html>
