body {
  background: url('../images/roof.jpg') no-repeat top fixed;
  background-size: cover;

  nav {
    height: 65px;
    margin-top: 20px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      li {
        color: white;
        list-style: none;

        &:active {
          border: white solid 2px;
        }
      }
    }
  }

  h1 {
    color: white;
  }

  .main {

    .logo {
      margin-top: 2.5%;
      display: flex;
      justify-content: center;

        img {
        height: 500px;
        width: 800px;
        color: pink;
      }
    }
  }
}
