<div class="main container-fluid">
  <div class="social row">
    <a href="mailto:brothersportstwo@gmail.com"><img src="../images/social/mailwhite.png" alt="email"></a>
    <a href='https://www.facebook.com/brothersportsband/'target="_blank"><img src="../images/social/facebookwhite.png" alt="facebook"></a>
    <a href='https://www.instagram.com/brother.sports' target="_blank"><img src="../images/social/instagramwhite.png" alt="instagram"></a>
    <a href='https://soundcloud.com/brother-sports' target="_blank"><img src="../images/social/soundcloudwhite.png" alt="soundcloud"></a>
  </div>
</div>
