<div class="container-fluid">
  <div class="content">
    <div class="shows" ng-controller="ShowsController as shows">
      <div class='single-show' ng-repeat='obj in shows.showList'>
        <div class="showflyer" ng-if="obj.flyer">
          <img src="{{ obj.flyer }}" alt="flyer" />
        </div>
        <div class="showinfo">
          Date: <strong>{{ obj.date }} </strong>
          <br>
          Where: <strong> {{ obj.venue }} </strong>
          <br>
          Who: <strong>{{ obj.memo }} </strong>
        </div>
      </div>
    </div>
  </div>
</div>
