body {
  background: url("../images/roof.jpg") no-repeat top fixed;
  background-size: cover; }
  body nav {
    height: 65px; }
    body nav ul {
      display: flex;
      flex-direction: row; }
      body nav ul li {
        color: white;
        list-style: none; }
  body .main .logo {
    margin-top: 10%;
    display: flex;
    justify-content: center; }
    body .main .logo img {
      height: 500px;
      width: 800px;
      color: pink; }
